@page "/"
@using MutualFundsTracker.Models
@using System.Globalization
@using MutualFundsTracker.Helpers 
@inject NavigationManager navigationManager
@inject FundsService fundsService
@inject AutoCompleteService autoCompleteService
@inject NotificationService notificationService

<h6>Hi, Amit</h6>
<hr style="margin-top:0;" />
<RadzenNotification/>
<div class="row" style="justify-content:center;padding-left:10%;padding-right:10%;padding-bottom: 5%;margin:auto">
    <div class="col">
        <div class="e-input-group">
            <RadzenAutoComplete Data=@FundNamesSuggestion TextProperty="FundName" Placeholder="Search Mutual Funds ..." FilterOperator="StringFilterOperator.StartsWith" Style="width: 100%; font-size: 14px;" />
        </div>

        <div class="row" style="padding-left:0;padding-right:0;margin:auto;">
            <div id="totalvaluediv" class="rounded summarybox" style="display: -webkit-flex; align-items: center; -webkit-box-pack: center; justify-content: center;width:100%">
                <label style="margin-top:10px;font-size: 14px;">Total account value is <strong>@string.Format(CultureInfo.CreateSpecificCulture("en-IN"),"{0:c0}", TotalValue)</strong></label>
                <RadzenButton Text="Details" ButtonStyle="ButtonStyle.Info" Click="NavigateToPortfolioPage"
                              Style="margin-left: 20px;background: #0479cc; margin-top: 5px;" />
            </div>
        </div>
        <br />

        <div class="row" style="padding-left:0;padding-right:0;margin:auto;">
            <label style="margin-left: auto; margin-right: auto; margin-top: 10px; text-decoration: underline; font-size: 14px;">Account value trend for the last 12 months</label>
        </div>
        <br />
        <div class="row" style="padding-left:0;padding-right:0;margin:auto;">
            <div class="col rounded" style="font-size: 12px; width:100%;height: auto;background-color: white;">
                <RadzenChart @ref="areaChart" Style="width: 100%; padding: 0px; margin: 0px;">
                    <RadzenAreaSeries Smooth=true Data="@PortfolioValueTrend" CategoryProperty="Date" ValueProperty="Amount"
                                      Fill="#0479cc !important" Title="Value" StrokeWidth="0" />
                    <RadzenCategoryAxis FormatString="{0:dd/MM}">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis Formatter="@FormatAsINR">
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                    <RadzenLegend Visible="false" />
                </RadzenChart>
            </div>
        </div>
        <br />

        <div class="row" style="padding-left:0;padding-right:0;margin:auto;">
            <label style="margin-left: auto; margin-right: auto; margin-top: 10px; text-decoration: underline; font-size: 14px;">Top gainers for the last 12 months</label>
        </div>
        <br />
        <div class="row" style="padding-left:0;padding-right:0;margin:auto;">
            <div class="col" style="padding:0; width:100%;height: auto;">
                <RadzenGrid @ref="gainersFundsGrid" AllowFiltering="false" AllowPaging="false" AllowSorting="true" Data="@GainersFundsData"
                            TItem="FundPerformance" Responsive="false" Style="font-size: 14px;width:inherit" CellRender="@CellRender">
                    <Columns>
                        <RadzenGridColumn TextAlign="Radzen.TextAlign.Center" TItem="FundPerformance" Property="FundName" Title="Fund Name"/>
                        <RadzenGridColumn TextAlign="Radzen.TextAlign.Center" TItem="FundPerformance" Property="Return" Title="Absolute Return">
                            <Template Context="data">
                                @String.Format("{0} %", data.Return)
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </div>
        </div>
        <br />

        <div class="row" style="padding-left:0;padding-right:0;margin:auto;">
            <label style="margin-left: auto; margin-right: auto; margin-top: 10px; text-decoration: underline; font-size: 14px;">Top losers for the last 12 months</label>
        </div>
        <br />
        <div class="row" style="padding-left:0;padding-right:0;margin:auto;">
            <div class="col" style="padding:0; width: 100%; height: auto;">
                <RadzenGrid @ref="losersFundsGrid" AllowFiltering="false" AllowPaging="false" AllowSorting="true" Data="@LosersFundsData"
                            TItem="FundPerformance" Responsive="false" Style="font-size: 14px;width:inherit" CellRender="@CellRender">
                    <Columns>
                        <RadzenGridColumn TextAlign="Radzen.TextAlign.Center" TItem="FundPerformance" Property="FundName" Title="Fund Name" />
                        <RadzenGridColumn TextAlign="Radzen.TextAlign.Center" TItem="FundPerformance" Property="Return" Title="Absolute Return">
                            <Template Context="data">
                                @String.Format("{0} %", data.Return)
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </div>
        </div>

    </div>
</div>

@code {

    double TotalValue { get; set; }
    List<AutoCompleteSuggestion> FundNamesSuggestion = new List<AutoCompleteSuggestion>();
    string SelectedFund { get; set; }
    ValueTrend[] PortfolioValueTrend;
    RadzenChart areaChart;
    RadzenGrid<FundPerformance> gainersFundsGrid;
    RadzenGrid<FundPerformance> losersFundsGrid;
    List<FundPerformance> GainersFundsData;
    List<FundPerformance> LosersFundsData;

    protected override async Task OnInitializedAsync()
    {
        // await GetMutualFundSuggestionsAsync();
        await GetTotalValueAsync();
        await GetTotalValueTrendAsync();
        await GetFundsPerformanceAsync();
    }

    async Task GetTotalValueAsync()
    {
        try
        {
            TotalValue = await fundsService.GetTotalValueAsync();
        }
        catch (CustomException ex)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "That didn't work :(", Detail = ex.Message, Duration = 3000 });
        }
        catch (Exception)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Oops!", Detail = "App is lil unhappy, try refreshing the page once?", Duration = 3000 });
        }
    }

    async Task GetTotalValueTrendAsync()
    {
        try
        {
            PortfolioValueTrend = await fundsService.GetTotalValueTrendAsync();

            if (PortfolioValueTrend == null)
            {
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "That didn't work :(", Detail = "Couldn't get value trend, please try again", Duration = 5000 });
            }
            else
            {
                areaChart.Reload();
            }
        }
        catch (CustomException ex)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "That didn't work :(", Detail = ex.Message, Duration = 5000 });
        }
        catch (Exception)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Oops!", Detail = "App is lil unhappy, try refreshing the page once?", Duration = 5000 });
        }
    }

    async Task GetMutualFundSuggestionsAsync()
    {
        try
        {
            List<string> fundsList = await autoCompleteService.GetSuggestions();

            if (fundsList == null || fundsList.Count == 0)
            {
                Console.WriteLine("Couldn't fetch auto complete suggestion list");
            }
            else
            {
                foreach (string fund in fundsList)
                {
                    FundNamesSuggestion.Add(new AutoCompleteSuggestion()
                    {
                        FundName = fund
                    });
                }
            }
        }
        catch (CustomException ex)
        {
            Console.WriteLine($"Couldn't fetch auto complete suggestion list - {ex.Message}");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Couldn't fetch auto complete suggestion list - {ex.Message}");
        }
    }

    async Task GetFundsPerformanceAsync()
    {
        try
        {
            GainersFundsData = await fundsService.GetFundPerformanceAsync("topgainers");

            if (PortfolioValueTrend == null)
            {
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "That didn't work :(", Detail = "Couldn't get top gainers details, please try again", Duration = 5000 });
            }
            else
            {
                await gainersFundsGrid.Reload();
            }

            LosersFundsData = await fundsService.GetFundPerformanceAsync("toplosers");
            if (PortfolioValueTrend == null)
            {
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "That didn't work :(", Detail = "Couldn't get top losers details, please try again", Duration = 5000 });
            }
            else
            {
                await losersFundsGrid.Reload();
            }
        }
        catch (CustomException ex)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "That didn't work :(", Detail = ex.Message, Duration = 5000 });
        }
        catch (Exception)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Oops!", Detail = "App is lil unhappy, try refreshing the page once?", Duration = 5000 });
        }
    }

    string FormatAsINR(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-IN"));
    }

    void NavigateToPortfolioPage()
    {
        navigationManager.NavigateTo("/portfolio");
    }

    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }

    void CellRender(CellRenderEventArgs<FundPerformance> args)
    {
        args.Attributes.Add("style", @"background-color:white;text-align:center");
    }

}
